*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-image: url("Images/city.jpg");
    background-size: cover;
    position: relative;

}



#home {
    display:inline-block;
    margin-right: 20px;
    align-items: center;;
    
}

#home h1 {
    color : white;
    font-weight: bold;
    align-self: center;
}

nav {
    background-color: rgba(2, 38, 55, 0.524);
    padding: 20px;
    display: flex  ;
    align-items:  center ;
  
}

#home-nav{
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display : inline;
    margin-right: 30px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}




.search-container {
    display: flex;
    align-items : center;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: white;
    padding: 0px 10px;
    width: auto;
    justify-content: space-evenly;
}

.search-container input{
    border: none;
    
}




.clear-button,
 .search-button{

    background-color: #064b48;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;


    width: auto;
    height: auto;
    padding: 5px;
    margin: 2px;
    font-size: 10px;
    border-radius: 10px;
}

.search-button:hover{
    background-color: #558700;
}

#searchQuery {
    flex-direction: row;
    color: rgb(7, 95, 83);
    padding: 10px;
    display:flex;
    justify-content: flex-end;
    margin-right : 20px;
}




#vertical-line {
    padding-top: 20px;
    border-left: 3px solid white;
    height: 250px;
    display: inline-block  ;
    margin-left: 40px;
}

#contact-logo{
    display: grid;
    align-items: center;
    gap : 10px;
    grid-auto-flow: row;
    
}

#contact-logo img {
    margin-top: 20px;
    margin-left: 25px;
}




#container-box{
    display: flex;
    flex-direction: row;
}

#explore-box {
  
   
    font-size: 50px;
    margin-left: 50px;
    color:white;
    display: inline-block;
    padding-left : 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
}


#details-box{
  
    color: white; 
    font-size: 15px;
    
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-left:  50px;
}

#little-box{
    display: flex;
    flex-direction: column;
}

#book-btn{
    margin-left : 100px;
    margin-top:  60px;
   
}

#book-btn button{
    color:white;
    font-weight: 600;
    background-color: #033936;
    border-radius: 10px;
    padding: 10px;
    
}

#book-btn button:hover{
    background-color: #558700;
}


#about-us-nav {
    margin-left: 20%;
}



#team-box{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20%;
    color: white;
}

#team-title {
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20%;
}

#team{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    width: 500px;
}

#team{
    background-color: #01201f65;
    border-radius: 5px;
    border : 1px solid #01201f65
    
}

#team img{
    width: 50px;
    height: 50px;
}

#team span{
    font-weight: 600;
}

#team p{
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#highlight{
    display: block;
    background-color: rgb(0, 128, 255);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    height: 30%;
    border: 1px solid white;
    
}

.contact-little-box {
    margin-top: 200px;
 
}

.contact-little-box-extra{
    font-weight: 900;
}


form{
    width: 400px;
    margin-top: 150px;
    margin-left: 100px;
    padding: 20px;
    border : 1px solid rgba(0, 35, 37, 0.227);
    border-radius: 5px;
    background-color: #01292736;
}

label{
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: 900;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
}

form button{
    background-color: green;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius:  3px;
    cursor: pointer;
    width: 100%;
}
   
form button:hover{
    background-color: #558700;
}

#search-results{
  justify-self: end;
  margin-left: auto;
  flex-direction: column;
}

#search-results div h4{
    color: white;
}

#empty-box{
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    background-color: green;
}

